.row.content-row
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "about_page/elliot.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        Elliott Sidell
      .member-role
        Drums
      .member-description
        This is stuff about Elliott. Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
  .small-12.columns.band-member-right.band-member
    .member-info.small-8.columns
      .member-name
        Sal Sisti
      .member-role
        Bass
      .member-description
        I am an astral traveler currently residing in the meat-body known as
        Salvatore Sisti. The majority of my early existence was spent in Gilmington,
        NH.  I did a brief stint in Augusta, MA and was then transfered to
        Boston, MA where I continued my study of sonic development. Continuing
        my quest to create a portal to the fourth dimension, I have joined
        Bearplane. End transmission.
    .member-image.small-4.columns
      =image_tag "about_page/sal_prof.jpg", class: "th"
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "about_page/al_prof.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        Al Lombardi
      .member-role
        Keys/Percussion/Brass/Sass/ect.
      .member-description
        Al Lombardi is from Scotch Plains, NJ. He studied music education at
        Berklee college of music.  He plays mostly keyboard with Bearplane, but
        often fills many other roles. In fact it would be easier to tell you the
        instruments he can't play. He is a loyal Instacart full-service shopper.
  .small-12.columns.band-member-right.band-member
    .member-info.small-8.columns
      .member-name
        Brian Fink
      .member-role
        Guitar
      .member-description
        %p
          We will let you know what he is about when he is done taking a shit.
        %p
          Brian earned a degree in jazz and contemporary music from the University of Maine
          at Augusta, then moved to Boston where he completed his education by
          performing with local mbalax group M'bolo and busking in the MBTA
          subway system. While proficient in a variety of styles, Brian is most
          at home in the context of Bearplane's collective improvisations.
          He currently spends his days making web applications for the Man.
        %p
          Brian plays music to make ends meet until he can realize his true dream
          of owning a vegan bakery called Jabrownies. This is real.
    .member-image.small-4.columns
      =image_tag "about_page/brian_prof.jpg", class: "th"
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "about_page/john_mccarthy.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        John McCarthy
      .member-role
        Guitar/Keys
      .member-description
        John is a Boston based web-developer and musician.  He spent several
        years as an instructor and performance director at the School of Rock
        in Wilmington, Delaware. During that time period, he went on multiple
        tours and recorded the studio album Infallible with Philly based death
        metal band Fisthammer.  His influences include: blah blah blah
