.row.content-row
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "elliot.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        Elliott Sidell
      .member-role
        Drums
      .member-description
        This is stuff about Elliott. Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
  .small-12.columns.band-member-right.band-member
    .member-info.small-8.columns
      .member-name
        Sal Sisti
      .member-role
        Bass
      .member-description
        This is stuff about Sal . Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
    .member-image.small-4.columns
      =image_tag "sal_prof.jpg", class: "th"
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "al_prof.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        Al Lombardi
      .member-role
        Keys/Percussion/Brass/Sass/ect.
      .member-description
        This is stuff about Al. Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
  .small-12.columns.band-member-right.band-member
    .member-info.small-8.columns
      .member-name
        Brian Fink
      .member-role
        Guitar
      .member-description
        This is stuff about Brian. Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
    .member-image.small-4.columns
      =image_tag "brian_prof.jpg", class: "th"
  .small-12.columns.band-member-left.band-member
    .member-image.small-4.columns
      =image_tag "john_mccarthy.jpg", class: "th"
    .member-info.small-8.columns
      .member-name
        John McCarthy
      .member-role
        Guitar/Keys
      .member-description
        This is stuff about John. Whats his deal? ect. Do dee do, dobee do
        Blahnad ipsum delorium discusious. Falcon punch, jiggly, pika pika
