.row.content-row
  .small-6.columns
    .h3
      email:
      .ul
        .li
          bearplanetheband@gmail.com
  .small-6.columns
    .h3
      phone:
      .ul
        .li
          617-460-5059
        .li
          302-898-3714
