.row.content-row
  .row
    .small-12.columns.text-center
      %span.button.sal-button.radius{id: "sal-generator"} GENERATE COMPLIMENT
      .small-12.columns.text-center.sal-compliment
        %h1
    .sound-cloud.small-12.medium-6.columns
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/26709319&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    .tag-line.small-12.medium-6.columns
      %h2
        Drawing on influences
        diverse as Umphrey's McGee, Phish, the Allman Brothers, Explosions in the
        Sky, Radiohead, Don Caballero, and John Coltrane, Boston based jam band
        Bearplane weaves a complex
        tapestry of sounds that will not only make love to your senses, but also
        buy them breakfast the next morning.
  .row
    .tag-line.small-12.medium-6.columns
      %h2
        Bearplane combines all of the ferocity of a bear
        with all of the flight based transportation capabilities of a 747.
        Bearplane is powered by a jazz fusion core comprised of Elliott Sidell
        (drums) and
        Sal Sisti(bass), packing a duel-guitar assault system operated by Brian
        Fink and John McCarthy, and equiped with a limited-edition multi-purpose
        prototype drone, codename: Al Lombardi.
    .youtube-vid.small-12.medium-6.columns.text-center
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yeWc5sC04co" frameborder="0" allowfullscreen></iframe>
