.row.content-row
  .sound-cloud.small-12.medium-6.columns
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/26709319&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  .tag-line.small-12.medium-6.columns
    %h2
      "Bearplane is a jam fusion band that combines all of the ferocity of a bear
      with all of the flight based transportation capabilities of a 747" -- Alexander Hamilton
