.row.content-row
  .links.small-6.columns
    %h1
      Bearforce One
    .ul
      .li
        =link_to "Facebook",
                 "https://www.facebook.com/bearplaneband/?ref=aymt_homepage_panel",
                  target: "blank"
      .li
        =link_to "Soundcloud",
                 "https://soundcloud.com/bearplane-1",
                  target: "blank"
  .links.small-6.columns
    %h1
      Squadmates
    .ul
      .li
        =link_to "Mumra",
                 "https://www.facebook.com/Mumramusic/?fref=ts",
                 target: "blank"
      .li
        =link_to "Do Mi Soul",
                 "http://www.domisoulmusic.com",
                  target: "blank"
      .li
        =link_to "Job Creators",
                 "https://www.facebook.com/Job-Creators-445594525510425/",
                  target: "blank"
