/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Poiret+One|Crimson+Text);
 @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
 $background: #A1C4C7;
 $accent: rgb(67, 117, 122);
 $logo-font: 'Poiret One', cursive;
 $header-font: 'Lato', sans-serif;
 $accent-1: #177FA7;
 $accent-2: #D75B43;

 body {
   background-color: $background;
   margin: 0;
 }

 .form {
   background-color: #F2F2F2;
   padding: 13px 14px;
   margin-top: 20px !important;
   margin-bottom: 20px !important;
   border: 1px solid lightgrey;
 }

 .sub-text {
   color: grey;
 }

 .button {
   background-color: $accent-1;
   color: white;
 }

 h1 {
   font-family: $logo-font;
   color: $accent-2;
 }

 table {
   margin-top: 2%;
 }

 .nav {
   div {
     display: inline-block;
   }
 }


 .link {
   font-family: $header-font;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: center;
   a {
     color: black;
   }
 }
 .link {
   a::after {
     display:block;
     content: '';
     border-bottom: solid 5px $accent;
     transform: scaleX(0.0001);
     transition: transform 250ms ease-in-out;
     position: relative;
     top:23px;
   }
 }

 .link.active {
   a::after {
     display:block;
     content: '';
     border-bottom: solid 5px $accent;
     transform: scaleX(1);
     transition: transform 250ms ease-in-out;
     position: relative;
   }
   a span {
     color: $accent;
   }
 }

 .link {
   a:hover:after {
     /*     border-bottom: 5px solid rgb(14, 118, 188); */
     transform: scaleX(1);
     position: relative;
     top: 23px;
   }
   a span:hover {
     color: $accent;
   }
 }

 .link a:hover {
   color: white;
 }

 .col-centered{
   float: none;
   margin: 0 auto;
 }

 .sound-cloud {
   margin-top: 10px;
 }

 .tag-line {
   text-align: center;

   h2 {
     font-family: $header-font;
     font-weight: 300;
     padding: 60px;
     font-size: 1.5rem;
   }
 }

 .youtube-vid {
   margin-top: 65px;
 }

 .sal-button {
   background: $background;
   border-radius: 30px;
   border: 1px solid darken($background, 5);
 }

 .sal-button:hover {
   background: darken($background, 5);
 }

 .sal-compliment-neon {
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
   text-transform: uppercase;
   border: 3px solid #707070;
   border-radius: 3px;
   font-weight: bolder;
   background: black;
   font-size: 50px;
   color: white;
   font-family: $header-font;
 }

 .sal-compliment-emboss {
  color:rgba(0,0,0,.6);
  background-color:#dadada;
  text-shadow:rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
  font-size: 50px;
  font-family: $header-font;
  text-transform: uppercase;
 }

 .sal-compliment-fire {
  font-size: 100px;
  font-family: $header-font;
  background: black;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
 }

 .sal-compliment-stitched {
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  background-color: #556068;
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
  font-size: 70px;
  font-family: $header-font;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
 }
@import url(https://fonts.googleapis.com/css?family=Pacifico);
 .sal-compliment-lobster {
  background: #731e1e;
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  text-align: center;
  text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
  font-size: 100px;
  border-radius: 5px;
 }

 .sal-compliment-rough {
  background: asset_url("rough_blue.jpg") no-repeat center center;
 	background-size: cover;
 	color: #fff;
 	-webkit-text-fill-color: transparent;
 	-webkit-background-clip: text;
  font-family: $header-font;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
 }

 .sal-compliment-anaglyphic {
  font-size: 75px;
  font-weight: bolder;
  font-family: $header-font;
  text-transform: uppercase;
  color: rgba(0, 168, 255, 0.5);
  text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
  background: white;
 }

 .sal-compliment-vintage {
   font-size: 50px;
   text-transform: uppercase;
   border: 3px solid #707070;
   border-radius: 3px;
   font-weight: bolder;
   color: #707070;
   text-shadow: 1px 1px 0px #eee, 3px 3px 0px #707070;
   background: #eee;
 }

 .header {
   text-align: center;
   img {
     height: 250px;
   }
   h3 {
     font-family: $header-font;
     font-weight: 300;
     letter-spacing: 3px;
     a {
       color: black;
       padding-left: 30px;
     }
   }
 }

 /* Media Page */

 .media-page-img-container {
   padding: 10px;
 }

 .media-container {
   padding: 10px;
   margin-top: 5px;
 }

 .media-header {
   text-align: center;
   a img {
     border-radius: 5px;
     margin: 5px 2px;
   }
   a img:hover {
     border: 1px solid $accent-1;
   }
 }

 #top-header {
   margin-top: 10px;
 }

 .fb-vid {
   padding-top: 30px;
 }

 div.pp_default .pp_top .pp_left {
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll -78px -93px;
}

div.pp_default .pp_top .pp_middle {
    background: transparent asset_url("prettyPhoto/default/sprite_x.png") repeat-x scroll left top;
}

div.pp_default .pp_top .pp_right {
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll -112px -93px;
}

div.pp_default .pp_content_container .pp_left {
    background: transparent asset_url("prettyPhoto/default/sprite_y.png") repeat-y scroll -7px 0px;
    padding-left: 13px;
}

div.pp_default .pp_content_container .pp_right {
    background: transparent asset_url("prettyPhoto/default/sprite_y.png") repeat-y scroll right top;
    padding-right: 13px;
}

div.pp_default .pp_loaderIcon {
    background: transparent asset_url("prettyPhoto/default/loader.gif") no-repeat scroll center center;
}

div.pp_default .pp_expand {
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll 0px -29px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

a.pp_next {
    background: transparent asset_url("prettyPhoto/light_rounded/btnNext.png") no-repeat scroll 10000px 10000px;
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

a.pp_previous {
    background: transparent asset_url("prettyPhoto/light_rounded/btnNext.png") no-repeat scroll 10000px 10000px;
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}

div.pp_default .pp_close {
    width: 30px;
    height: 30px;
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll 2px 1px;
    cursor: pointer;
}

div.pp_default .pp_bottom .pp_left {
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll -78px -127px;
}

div.pp_default .pp_bottom .pp_middle {
    background: transparent asset_url("prettyPhoto/default/sprite_x.png") repeat-x scroll left bottom;
}

div.pp_default .pp_bottom .pp_right {
    background: transparent asset_url("prettyPhoto/default/sprite.png") no-repeat scroll -112px -127px;
}

div.pp_default .pp_description {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: $logo-font;
}

.no-pad {
  padding: 0 !important;
}

.footer {
  height: 250px;
  background-color: rgb(67, 117, 122);
}

.footer-box {
  text-align: center;
  margin-top: 100px;
  color: wheat;
}

.content-row {
  max-width: 100%;
  padding: 50px 200px;
  background-color: white;
  min-height: 500px;
}

.text-center {
  text-align: center;
}

.band-member-right {
  text-align: right;
}

.member-name {
  letter-spacing: 2px;
  font-family: $header-font;
  font-size: 25px;
  margin-top: 40px;
}

.member-role {
  font-size: 20px;
  color: grey;
}

.member-image img {
  border-radius: 500px;
  height: 325px;
}

/* JPLAYER STYLES */

$jplayer-images-base-url: "../image/" !default;

.jp-audio *:focus,
.jp-audio-stream *:focus,
.jp-video *:focus {
	/* Disable the browser focus highlighting. */
	outline:none;
}

.jp-audio button::-moz-focus-inner,
.jp-audio-stream button::-moz-focus-inner,
.jp-video button::-moz-focus-inner {
	/* Disable the browser CSS3 focus highlighting. */
	border: 0;
}

.jp-audio,
.jp-audio-stream,
.jp-video {

	font-size:16px;

	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #666;
	border:1px solid #009be3;
	background-color:#eee;
}
.jp-audio {
	width:420px;
  margin: auto;
}
.jp-audio-stream {
	width:182px;
}
.jp-video-270p {
	width:480px;
}
.jp-video-360p {
	width:640px;
}
.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width:480px;
	height:270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position:static !important; position:relative;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
.jp-video-full div div {
	z-index:1000;
}

.jp-video-full .jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
}

.jp-video-full .jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:1001; /* 1 layer above the others. */
}

.jp-video-full .jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
}

.jp-interface {
	position: relative;
	background-color:#eee;
	width:100%;
}

.jp-audio .jp-interface {
	height:80px;
}

.jp-audio-stream .jp-interface {
	height:80px;
}

.jp-video .jp-interface {
	border-top:1px solid #009be3;
}

/* @group CONTROLS */

.jp-controls-holder {
	clear: both;
	width:400px;
	margin:0 auto;
	position: relative;
	overflow:hidden;
	top:-8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

.jp-interface .jp-controls {
	margin:0;
	padding: 0;
	overflow:hidden;
}

.jp-audio .jp-controls {
	width: 380px;
	padding:20px 20px 0 20px;
}

.jp-audio-stream .jp-controls {
	position:absolute;
	top:20px;
	left:20px;
	width:142px;
}

.jp-video .jp-type-single .jp-controls {
	width: 78px;
	margin-left: 200px;
}

.jp-video .jp-type-playlist .jp-controls {
	width: 134px;
	margin-left: 172px;
}
.jp-video .jp-controls {
	float: left;
}

.jp-controls button {
	display:block;
	float: left;
	overflow:hidden;
	text-indent:-9999px;
	border:none;
	cursor:pointer;
}
.jp-play {
	width:40px;
	height:40px;
}

.jp-play {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 0 no-repeat;
}
.jp-play:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
.jp-state-playing .jp-play {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -42px no-repeat;
}
.jp-state-playing .jp-play:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

.jp-stop, .jp-previous, .jp-next {
	width:28px;
	height:28px;
	margin-top:6px;
}

.jp-stop {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -83px no-repeat;
	margin-left:10px;
}

.jp-stop:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -29px -83px no-repeat;
}

.jp-previous {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
.jp-previous:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}

.jp-next {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
.jp-next:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}

/* @end */

/* @group progress bar */

.jp-progress {
	overflow:hidden;
	background-color: #ddd;
}
.jp-audio .jp-progress {
	position: absolute;
	top:32px;
	height:15px;
}
.jp-audio .jp-type-single .jp-progress {
	left:110px;
	width:186px;
}
.jp-audio .jp-type-playlist .jp-progress {
	left:166px;
	width:130px;
}
.jp-video .jp-progress {
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
.jp-seek-bar {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -202px repeat-x;
	width:0px;
	height:100%;
	cursor: pointer;
}
.jp-play-bar {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -218px repeat-x ;
	width:0px;
	height:100%;
}

/* The seeking class is added/removed inside jPlayer */
.jp-seeking-bg {
	background: asset_url("jplayer/jplayer.blue.monday.seeking.gif");
}

/* @end */

/* @group volume controls */

.jp-state-no-volume .jp-volume-controls {
	display:none;
}

.jp-volume-controls {
	position:absolute;
	top:32px;
	left:308px;
	width:200px;
}
.jp-audio-stream .jp-volume-controls {
	left:70px;
}
.jp-video .jp-volume-controls {
	top:12px;
	left:50px;
}

.jp-volume-controls button {
	display:block;
	position: absolute;
	overflow:hidden;
	text-indent:-9999px;
	border:none;
	cursor:pointer;
}

.jp-mute,
.jp-volume-max {
	width:18px;
	height:15px;
}
.jp-volume-max {
	left:74px;
}

.jp-mute {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -170px no-repeat;
}
.jp-mute:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -19px -170px no-repeat;
}
.jp-state-muted .jp-mute {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -60px -170px no-repeat;
}
.jp-state-muted .jp-mute:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -79px -170px no-repeat;
}
.jp-volume-max {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -186px no-repeat;
}
.jp-volume-max:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -19px -186px no-repeat;
}

.jp-volume-bar {
	position: absolute;
	overflow:hidden;
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -250px repeat-x;
	top:5px;
	left:22px;
	width:46px;
	height:5px;
	cursor: pointer;
}
.jp-volume-bar-value {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -256px repeat-x;
	width:0px;
	height:5px;
}

/* @end */

/* @group current time and duration */

.jp-audio .jp-time-holder {
	position:absolute;
	top:50px;
}
.jp-audio .jp-type-single .jp-time-holder {
	left:110px;
	width:186px;
}
.jp-audio .jp-type-playlist .jp-time-holder {
	left:166px;
	width:130px;
}

.jp-current-time,
.jp-duration {
	width:60px;
	font-size:.64em;
	font-style:oblique;
}
.jp-current-time {
	float: left;
	display:inline;
	cursor:default;
}
.jp-duration {
	float: right;
	display:inline;
	text-align: right;
	cursor:pointer;
}

.jp-video .jp-current-time {
	margin-left:20px;
}
.jp-video .jp-duration {
	margin-right:20px;
}

/* @end */

/* @group playlist */

.jp-details {
	font-weight:bold;
	text-align:center;
	cursor:default;
}

.jp-details,
.jp-playlist {
	width:100%;
	background-color:#ccc;
	border-top:1px solid #009be3;
}

.jp-type-single .jp-details,
.jp-type-playlist .jp-details {
	border-top:none;
}

.jp-details .jp-title {
	margin:0;
	padding:5px 20px;
	font-size:.72em;
	font-weight:bold;
}

.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}
.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #eee;
}
.jp-playlist li div {
	display:inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

div.jp-type-playlist div.jp-playlist li:last-child {
	padding:5px 0 5px 20px;
	border-bottom:none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	list-style-type:square;
	list-style-position:inside;
	padding-left:7px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #333;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color:#0d88c1;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	color:#666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
	color:#0d88c1;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
	color:#666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
	color:#0d88c1;
}
span.jp-artist {
	font-size:.8em;
	color:#666;
}

/* @end */

.jp-video-play {
	width:100%;
	overflow:hidden; /* Important for nested negative margins to work in modern browsers */
	cursor:pointer;
	background-color:rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
.jp-video-270p .jp-video-play {
	margin-top:-270px;
	height:270px;
}
.jp-video-360p .jp-video-play {
	margin-top:-360px;
	height:360px;
}
.jp-video-full .jp-video-play {
	height:100%;
}
.jp-video-play-icon {
	position:relative;
	display:block;
	width: 112px;
	height: 100px;

	margin-left:-56px;
	margin-top:-50px;
	left:50%;
	top:50%;

	background: asset_url("jplayer/jplayer.blue.monday.video.play.png") 0 0 no-repeat;
	text-indent:-9999px;
	border:none;
	cursor:pointer;
}
.jp-video-play-icon:focus {
	background: asset_url("jplayer/jplayer.blue.monday.video.play.png") 0 -100px no-repeat;
}


.jp-jplayer audio,
.jp-jplayer {
	width:0px;
	height:0px;
}

.jp-jplayer {
	background-color: #000000;
}



/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

.jp-toggles {
	padding:0;
	margin:0 auto;
	overflow:hidden;
}

.jp-audio .jp-type-single .jp-toggles {
	width:25px;
}
.jp-audio .jp-type-playlist .jp-toggles {
	width:55px;
	margin: 0;
	position: absolute;
	left: 325px;
	top: 50px;
}

.jp-video .jp-toggles {
	position:absolute;
	right:16px;
	margin:0;
	margin-top:10px;
	width:100px;
}

.jp-toggles button {
	display:block;
	float:left;
	width:25px;
	height:18px;
	text-indent:-9999px;
	line-height:100%; /* need this for IE6 */
	border:none;
	cursor:pointer;
}

.jp-full-screen {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -310px no-repeat;
	margin-left: 20px;
}

.jp-full-screen:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -30px -310px no-repeat;
}

.jp-state-full-screen .jp-full-screen {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -60px -310px no-repeat;
}

.jp-state-full-screen .jp-full-screen:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -90px -310px no-repeat;
}

.jp-repeat {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -290px no-repeat;
}

.jp-repeat:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -30px -290px no-repeat;
}

.jp-state-looped .jp-repeat {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -60px -290px no-repeat;
}

.jp-state-looped .jp-repeat:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -90px -290px no-repeat;
}

.jp-shuffle {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") 0 -270px no-repeat;
	margin-left: 5px;
}

.jp-shuffle:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}

.jp-state-shuffled .jp-shuffle {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -60px -270px no-repeat;
}

.jp-state-shuffled .jp-shuffle:focus {
	background: asset_url("jplayer/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

/* @end */
